<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-2">
			<h1>About</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-md-offset-2">
			<p>Wiser is a brand new way of learning. Online learning should be as fun and engaging as the internet. It should be open to all, not just concerning basic access, but also in learning method. There is no “one size fits all”.<br/>
			We give you immediate access to inspiring and relevant pins, no week plans - no waiting - no need for prerequisites.</p>
			<p>At Wiser we believe in different ways of learning: Some like videos, some like reading. Some need time to digest, some do it all at once. Therefore we don’t restrict - we do it all! At Wiser, Yes is more.</p>
		</div>
		<div class="col-md-4">
			<p>This version of Wiser is currently in beta and focused exclusively on Design Thinking, but it’ll soon grow to include more topics, more knowledge, more users and more fun.</p>
			<p>If you need help to navigate Wiser, have a suggestion or just want to say hi, reach us at <a href="mailto:wiser@idadesign.dk">wiser@idadesign.dk</a>.<br>
			Help us help you.</p>
		</div>
	</div>
</div>
<div class="weare">
	<div class="container">
		<h2>We are Wiser</h2>
		<p>Wiser is the result of a collaboration between the Danish Society of<br/>
		Engineers’s Design Community and three e-learning enthusiasts.</p>
		<table>
			<tr>
				<td colspan="4">
					<img src="/images/about-wiser-profiles.png" alt="">
				</td>
			</tr>
			<tr>
				<td>
					IDA Design Community<br/>
					- part of the Danish Society of Engineers
				</td>
				<td>
					Stephanie Pitarch<br/>
					<a href="http://dk.linkedin.com/in/stephaniepitarch">@LinkedIn</a>
				</td>
				<td>
					Kevin Simper<br/>
					<a href="http://dk.linkedin.com/pub/kevin-simper/39/531/682">@LinkedIn</a>
				</td>
				<td>
					Lars Martin Haukohl<br/>
					<a href="http://dk.linkedin.com/in/larshaukohl/">@LinkedIn</a>
				</td>
			</tr>
		</table>

	</div>
</div>