<div class="container">
  <h1><i>Rediger</i> {{lesson.name}}</h1>
  <div class="row">
    <div class="col-md-6">
      <div class="alert alert-success" ng-show="submitted">Lesson opdateret</div>
      <form>
        <div class="form-group">
          <label for="name">Navn</label>
          <input type="text" class="form-control" name="name" ng-model="lesson.name">
        </div>
        <div class="form-group">
          <label for="type">Niveau</label>
          <select ng-model="lesson.level" class="form-control">
            <option ng-repeat="level in levels" value="{{level.value}}">{{level.display}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="type">Time</label>
          <input type="text" class="form-control" name="type" ng-model="lesson.time">
        </div>
        <div class="form-group">
          <label for="type">Type</label>
          <select ng-model="lesson.type" class="form-control">
            <option ng-repeat="type in types" value="{{type.value}}">{{type.display}}</option>
          </select>
        </div>
        <div ng-show="lesson.type == 'article'">
          <div class="form-group">
            <label for="type">Link to article</label>
            <input type="text" class="form-control" name="type" ng-model="lesson.articleLink">
          </div>
        </div>
        <div ng-show="lesson.type == 'video'">
          <div class="form-group">
            <label for="type">Youtube link</label>
            <input type="text" class="form-control" name="type" ng-model="lesson.youtubelink">
            <p class="help-block">eg. https://www.youtube.com/watch?v=rqevO_zrxsA</p>
          </div>
        </div>
        <div ng-show="lesson.type == 'event'">
          <hr>
          <h2>Event</h2>
          <div class="form-group">
            <label for="type">Date</label>
            <input type="text" class="form-control" name="type" ng-model="lesson.event.date">
          </div>
          <div class="form-group">
            <label for="type">Time</label>
            <input type="text" class="form-control" name="type" ng-model="lesson.event.time">
          </div>
          <div class="form-group">
            <label for="type">Place</label>
            <input type="text" class="form-control" name="type" ng-model="lesson.event.place">
          </div>
          <hr>
        </div>
        <div class="form-group">
          <label for="description">Beskrivelse</label>
          <textarea name="description" class="form-control" ng-model="lesson.description" rows="5"></textarea>
        </div>
        <div class="form-group">
          <label for="name">Billede (thumbnail)</label>
          <input type="text" class="form-control" name="name" ng-model="lesson.thumbnail">
        </div>
        <div class="form-group">
          <label for="name">Billede (hero)</label>
          <input type="text" class="form-control" name="name" ng-model="lesson.picture">
        </div>
        <h2>Quiz</h2>
        <div class="form-group">
          <label for="name">Points for quiz</label>
          <input type="text" class="form-control" name="name" ng-model="lesson.quiz.points">
        </div>
        <button class="btn btn-info" ng-click="addQuestion()">Tilføj spørgsmål</button>
        <h4>Spørgsmål</h4>
        <div ng-repeat="(id, item) in lesson.quiz.questions track by $index">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" ng-model="item.question">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="$parent.removeQuestion(id)">
                  <span class="glyphicon glyphicon-remove"></span>
                </button>
              </span>
            </div>
          </div>
          <div class="row" ng-repeat="(answerId, answer) in item.answers track by $index">
            <div class="col-md-11 col-md-offset-1">
               <div class="form-group">
                <div class="input-group">
                  <input type="text" class="form-control" name="name" ng-model="answer.answer">
                  <span class="input-group-addon">
                    <input type="radio" name="{{id}}" value="{{answerId}}" value="true" ng-model="item.correct">
                  </span>
                </div>
               </div>
            </div>
          </div>
        </div>
        <a ng-click="submitted = true" class="btn btn-primary">Gem lesson</a>
      </form>
    </div>
  </div>
</div>
