<div class="lessons-hero">
</div>
<div class="container">
  <div class="page-header">
    <h1>Lessons</h1>
  </div>
  <div class="row filter">
    <div class="col-md-12">
      <form class="form-inline">
        <div class="form-group">
          <label>Type</label>
          <select ng-model="search.type" class="form-control">
            <option ng-repeat="type in types" value="{{type.value}}">{{type.display}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Niveau</label>
          <select ng-model="search.level" class="form-control">
            <option ng-repeat="level in levels" value="{{level.value}}">{{level.display}}</option>
          </select>
        </div>
        <div class="btn btn-default btn-sm" ng-click="search = {}">
          <span class="glyphicon glyphicon-remove"></span>
          Reset filter
        </div>
      </form>
    </div>
  </div>
  <div class="lessons">
    <div ng-repeat="(id, lesson) in lessons | filterObjects:search" ng-click="goToLesson(id, lesson)" ng-style="getStyles(lesson)" class="lesson">
      <div class="info">
        <div><strong>{{shortenLessonname(lesson.name)}}</strong></div>
        <div class="lessonDetails">
          {{lesson.type}} - {{lesson.level}} - {{lesson.quiz.points}} points - {{lesson.time}}
        </div>
      </div>
    </div>
  </div>
</div>
