<div class="lessons-hero">
</div>
<div class="container">
  <h1>Get started!</h1>
  <div class="lessons">
    <div ng-repeat="(slug, lesson) in toppicks" ng-click="goToLesson(slug, lesson)" ng-style="getStyles(lesson)" ng-show="showType == 'blocks'" class="lesson">
      <div class="info">
        <div><strong>{{shortenLessonname(lesson.name)}}</strong></div>
        <div class="lessonDetails">
          {{lesson.type}} - {{lesson.level}}
          <span>- {{lesson.quiz.points}}p - {{lesson.time}}</span>
          <span ng-show="lesson.quizTaken">
            <span class="glyphicon glyphicon-ok" style="color: green;"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="page-header">
    <h1>Lessons 
      <div style="float: right">
        <span class="glyphicon glyphicon-th" ng-click="showType = 'blocks'"></span>
        <span class="glyphicon glyphicon-list" ng-click="showType = 'table'"></span>
      </div>
    </h1>
  </div>
  <div class="row filter">
    <div class="col-md-12">
      <form class="form-inline">
        <div class="form-group">
          <label>Type</label>
          <select ng-model="search.type">
            <option ng-repeat="type in types" value="{{type.value}}">{{type.display}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Niveau</label>
          <select ng-model="search.level">
            <option ng-repeat="level in levels" value="{{level.value}}">{{level.display}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Taken</label>
          <select ng-model="showTaken">
            <option>Show</option>
            <option>Hide</option>
          </select>
        </div>
        <div class="btn btn-default btn-sm" ng-click="resetSearch()">
          <span class="glyphicon glyphicon-remove"></span>
          Reset filter
        </div>
      </form>
    </div>
  </div>
  <div class="lessons">
    <div ng-repeat="(slug, lesson) in lessons | filterObjects:search" ng-click="goToLesson(slug, lesson)" ng-style="getStyles(lesson)" ng-show="showType == 'blocks'" class="lesson">
      <div class="info">
        <div><strong>{{shortenLessonname(lesson.name)}}</strong></div>
        <div class="lessonDetails">
          {{lesson.type}} - {{lesson.level}}
          <span>- {{lesson.quiz.points}}p - {{lesson.time}}</span>
          <span ng-show="lesson.quizTaken">
            <span class="glyphicon glyphicon-ok" style="color: green;"></span>
          </span>
        </div>
      </div>
    </div>
    <table class="table table-striped" ng-show="showType == 'table'">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Level</th>
          <th>Points</th>
          <th>Time</th>
          <th>Taken</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(slug, lesson) in lessons | filterObjects:search" ng-click="goToLesson(slug, lesson)">
          <td>{{lesson.name}}</td>
          <td>{{lesson.type}}</td>
          <td>{{lesson.level}}</td>
          <td>{{lesson.quiz.points}}</td>
          <td>{{lesson.time}}</td>
          <td>
            <span ng-show="lesson.quizTaken">
              <span class="glyphicon glyphicon-ok" style="color: green;"></span>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
