<div class="container">
  <h1><i>Ny</i> lektion</h1>
  <div class="row">
    <div class="col-md-6">
      <div class="alert alert-success" ng-show="submitted">Lesson opdateret</div>
      <form>
        <div class="form-group">
          <label for="name">Navn</label>
          <input type="text" class="form-control" name="name" ng-model="lesson.name">
        </div>
        <div class="form-group">
          <label for="name">slug</label>
          <div class="input-group">
            <span class="input-group-addon">/lessons/</span>
            <input type="text" class="form-control" name="name" ng-model="lesson.slug">
          </div>
        </div>
        <a ng-click="addLesson()" class="btn btn-primary">Opret lesson</a>
      </form>
    </div>
  </div>
</div>