<div class="container">
  <div class="page-header">
    <h1>Profil</h1>
  </div>
  <div class="row">
    <div class="col-md-8">
    <img src="" ng-src="http://graph.facebook.com/{{auth.user.thirdPartyUserData.id}}/picture?width=200"  alt="" style="float: left; margin: 0 20px 20px 0; ">
    <p>Hi {{auth.user.displayName}}, it’s truely great to have you as a user! We hope you like Wiser as much as we do.</p>
    <p>So far you have collected <strong>{{auth.user.data.pointsTotal}}</strong> points, keep it up and you are well on the way to become a master Design Thinker.</p>
    <p>Since Wiser is currently in beta we are constantly learning, and your feedback is essential to our succes. We would like to get to know you a little better,
    so please complete your profile below.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="alert alert-success" ng-show="submitted">Dine informationer er gemt!</div>
      <form>
        <div class="form-group">
          <label for="name">Navn</label>
          <input type="text" class="form-control" ng-model="user.name" name="name">
        </div>

        <div class="form-group">
          <label for="name">E-mail</label>
          <input type="text" class="form-control" ng-model="user.email" name="name">
        </div>

        <div class="form-group">
          <label for="name">Are you a member of IDA - The Danish Society of Engineers?</label>
          <div class="radio">
            <label>
              <input type="radio" value="true" ng-model="user.idaMember"> Yes
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" value="false" ng-model="user.idaMember"> No
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="bio">What are your interests, profession and formal education?</label>
          <textarea name="bio" ng-model="user.bio" class="form-control" rows="3"></textarea>
        </div>

        <div class="form-group">
          <label for="found">How did you find out about Wiser?</label>
          <textarea name="found" ng-model="user.found" class="form-control" rows="3"></textarea>
        </div>

        <h3>Notifications</h3>

        <div class="form-group">
          <label for="name">May we send you email notifications?</label>
          <div class="radio">
            <label>
              <input type="radio" value="true" ng-model="user.notifications"> Yes
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" value="false" ng-model="user.notifications"> No
            </label>
          </div>
        </div>

        <a class="btn btn-primary" ng-click="submitted = true">Gem</a>

      </form>
    </div>
  </div>
</div>