<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="page-header">
        <h1>Dine point</h1>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Navn</th>
            <th>Point</th>
          </tr>
        </thead>
        <tbody ng-repeat="(id, data) in user.points">
          <tr>
            <td>{{data.name}}</td>
            <td>{{data.points}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>