<div class="welcome-hero">
  <div class="container">
    <div class="signup">
      <h1>WISER</h1>
      <hr>
      <h2>Design Thinking</h2>
      <p>Discover a world of crowd curated media that fits your learning needs perfectly.</p>
      <button class="btn btn-primary" ng-click="auth.$login('facebook');">Sign up via facebook</button>
    </div>
  </div>
</div>

<div class="container landingpage">
  <div class="row statement">
    <div class="col-md-12">
      <h1>Stop searching for knowledge - start learning!</h1>
      <h4>At Wiser we bring people together to find, curate and learn from the best sources available online. Together we’ll make each other wiser by creating a briliant crowd curated curriculum for Design Thinking.</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <img src="/images/frontpage/combining.png" class="combining">
    </div>
  </div>
</div>

<div class="container-fluid fourreasons">
  <div class="container">
    <div class="row">
      <div class="reason col-sm-6 col-md-4 col-md-offset-2">
        <strong>Curate</strong>
        <p>Do you know that feeling when you are looking just that piece of knowledge to take you further in you amazing carrer or exciting new hobby?</p>
      </div>
      <div class="reason col-sm-6 col-md-4">
        <strong>Compete</strong>
        <p>Sena, se me aper hucio untio, sicaudam et? Quium ponstasta, qua non Etrus a vir prem arenterei incerfex silibuterum hui silicus atuidi invesis? Fuli con Etrudam facid fur, num ut intrordium.</p>
      </div>
    </div>
    <div class="row">
      <div class="reason col-sm-6 col-md-4 col-md-offset-2">
        <strong>Contribute</strong>
        <p>Gra rei sedepors hilicastis Ad deme plis iae ia novidis, nonvocu pimis? Nam aris 
        Edientiae a te iactus actatum</p>
      </div>
      <div class="reason col-sm-6 col-md-4">
        <strong>Diversity</strong>
        <p>Everything is knowledge. From TED talks to PhD projects. You learn something from everything.</p>
      </div>
    </div>
  </div>
</div>

<div class="container signup-teaser">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-1">
      <img src="/images/frontpage/macscreen.jpg" alt="">
    </div>
    <div class="col-sm-3">
      <h3>
        At Wiser you’ll get access to an ever growing curriculum of the best learning media. Easy to navigate, curated by your peers, exciting and insightful - fun and inspirational.
      </h3>
      <div class="sign-up">
        <a class="btn btn-primary" ng-click="auth.$login('facebook');">Sign up via Facebook</a>
      </div>
    </div>
  </div>
</div>