<div class="welcome-hero">
  <div class="container">
    <h1>Velkommen til myLessons</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>Lorum lipsum</h3>
      <p>The typographic scale is based on two Less variables in variables.less: @font-size-base and @line-height-base. The first is the base font-size used throughout and the second is the base line-height. We use those variables and some simple math to create the margins, paddings, and line-heights of all our type and more. Customize them and Bootstrap adapts.</p>
    </div>
    <div class="col-md-4">
      <h3>Lorum lipsum</h3>
      <p>The typographic scale is based on two Less variables in variables.less: @font-size-base and @line-height-base. The first is the base font-size used throughout and the second is the base line-height. We use those variables and some simple math to create the margins, paddings, and line-heights of all our type and more. Customize them and Bootstrap adapts.</p>
    </div>
    <div class="col-md-4">
      <h3>Lorum lipsum</h3>
      <p>The typographic scale is based on two Less variables in variables.less: @font-size-base and @line-height-base. The first is the base font-size used throughout and the second is the base line-height. We use those variables and some simple math to create the margins, paddings, and line-heights of all our type and more. Customize them and Bootstrap adapts.</p>
    </div>
  </div>
</div>
