<div class="welcome-hero">
  <div class="container">
    <div class="signup">
      <h1>WISER</h1>
      <hr>
      <h2>Design Thinking</h2>
      <p>Discover a world of crowd curated media that fits your learning needs perfectly.</p>
      <button class="btn btn-primary" ng-click="auth.$login('facebook');">Sign up via facebook</button>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>Lorum lipsum</h3>
      <p>The typographic scale is based on two Less variables in variables.less: @font-size-base and @line-height-base. The first is the base font-size used throughout and the second is the base line-height. We use those variables and some simple math to create the margins, paddings, and line-heights of all our type and more. Customize them and Bootstrap adapts.</p>
    </div>
    <div class="col-md-4">
      <h3>Lorum lipsum</h3>
      <p>The typographic scale is based on two Less variables in variables.less: @font-size-base and @line-height-base. The first is the base font-size used throughout and the second is the base line-height. We use those variables and some simple math to create the margins, paddings, and line-heights of all our type and more. Customize them and Bootstrap adapts.</p>
    </div>
    <div class="col-md-4">
      <h3>Lorum lipsum</h3>
      <p>The typographic scale is based on two Less variables in variables.less: @font-size-base and @line-height-base. The first is the base font-size used throughout and the second is the base line-height. We use those variables and some simple math to create the margins, paddings, and line-heights of all our type and more. Customize them and Bootstrap adapts.</p>
    </div>
  </div>
</div>
