@import "../vendor/bootstrap/css/bootstrap.css"

body
  padding-top 70px

.navbar .username
  padding-left: 50px;
  cursor pointer
.navbar .profilepic
  border-radius: 3px;
  top: 10px;
  left: 10px;
  position: absolute;
  width: 30px;

.welcome-hero
  height: 420px;
  background: url(/images/bg.jpg);
  margin: 0 0 20px;
  h1
    margin: 50px;
    font-size: 42px;

.lessons
  .lesson
    cursor: pointer;
    width: 260px;
    border: 1px solid #808080;
    height: 250px;
    display: inline-block;
    margin: 0 25px 25px 0;
    position: relative
    .info
      position: absolute;
      bottom: 0px;
      background: white;
      width: 100%;
      padding: 10px;
.lesson
  .image
    height 400px;
    overflow hidden
    img
      width: 100%
