@import "../vendor/bootstrap/css/bootstrap.css"

// COLORS
marinegreen = #6dc8bf

.whitelinks
  color: white;
  text-decoration: underline;
  &:hover
    text-decoration: none;


.wiser-navbar
  background: white;
  .logo
    width: 45px;
    position: relative;
    top: -9px;
  .ribbon
    padding: 0 15px 0 0;
    a
      color: #fff !important;
      width: 63px;
      padding: 14px 0;
      text-align: center;
    img
      position: absolute;
    @media screen and (max-width: 767px)
      display: none
.navbar .username
  padding-left: 50px;
  cursor pointer
.navbar .profilepic
  border-radius: 3px;
  top: 10px;
  left: 10px;
  position: absolute;
  width: 30px;

.main-view
  height: 100%;

#footer
  margin-top: 30px;
  border-top: 1px solid #ecedee;
  padding: 30px 0 70px;
  background: whitesmoke;
  h3
    margin: 0px 0 5px;
    font-size: 16px;

// Frontpage
.welcome-hero
  height: 600px;
  background-image: url("/images/bg.jpg");
  margin: -20px 0 0 0;
  background-size: 100%;
  background-position: 0 48%;
  .signup
    color: #fff;
    position: relative;
    top: 30px;
    left 50px
    width: 300px;
    text-align: center;
    h1
      font-size: 60px;
    h2
      margin-top 5px;
      font-size: 40px;
    hr
      border-top: 2px solid rgba(255, 255, 255, 0.39);
      height: 4px;
      width: 130px;
      margin: 0 auto;
    p
      font-size: 24px;
    .btn
      width: 100%;
      padding: 10px;
      font-size: 18px;
      margin-top: 10px;
.landingpage
  .statement
    text-align: center;
    h4
      max-width: 770px;
      margin: 0 auto;
      line-height: 22px;
  .combining
    margin: 40px auto;
    display: block;
    width: 100%;
    max-width: 763px;
.fourreasons
  background: marinegreen
  text-align: center;
  color: white;
  padding: 40px 0;
  .reason
    // padding 15px; 
.signup-teaser
  padding: 40px 0;
  h3
    text-align: center;
    max-width: 310px;
    margin-bottom: 20px;
  .sign-up
    margin: 0 auto;
    .btn
      width: 100%
  img
    width: 100%;

.filter
  margin-bottom: 10px;
.lessons
  .lesson
    cursor: pointer;
    width: 260px;
    border: 1px solid #ccc;
    border-radius: 2px;
    height: 250px;
    display: inline-block;
    margin: 0 25px 25px 0;
    position: relative;
    background-size: 100%;
    background-position: initial !important;
    background-repeat: initial !important;
    box-shadow: 0px 5px 16px -5px #CCC;
    @media screen and (min-width: 1200px)
      width: 350px;
      height: 270px;
    .info
      position: absolute;
      bottom: 0px;
      background: white;
      width: 100%;
      padding: 10px;
      border-radius: 0 0 2px 1px;
      padding: 5px 10px;
      height: 75px;
      .lessonDetails
        text-align: center;
        position: absolute;
        bottom: 5px;
        width: 238px;

.lessons-hero
  color white
  height: 200px;
  background-image: url("/images/bg.jpg");
  margin: -20px 0 0 0;
  background-size: 100%;
  background-position-y: 48%;

.lesson
  .addedby
    color: #fff;
    font-size: 11px;
    position: absolute;
    margin-top: 8px;
    left: 30px;
    img
      width: 30px;
      border-radius: 4px;
    .name
      font-size: 15px;
      
  .image
    height 400px;
    overflow hidden
    img
      width: 100%
      font-size: 13px;
  .likemenu
    list-style-type: none;
    margin: 0;
    padding: 0;
    li
      float: left;
      padding-right: 5px;
  .quiz
    .quiz-header
      hr
        margin-top: -26px;
        border-top: 1px solid #CCC;
      h2
        font-size: 34px;
        text-align: center;
        span
          background: white;
          padding: 0 15px;
    .question-header
      line-height: 24px;
      

.highscore
  .listing
    td
      line-height: 40px;
    .person
      img
        width: 40px;
        border-radius: 4px;

// ABOUT
.weare
  background: marinegreen;
  color: white;
  text-align: center;
  margin: 20px 0;
  padding: 30px 0 60px;
  a
    @extend .whitelinks;
  h1
    font-size: 38px;
  table
    margin: 30px auto;
    width: 750px;
    td
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3)
        width: 190px;

.profile
  .points 
    margin: 15px 0;

#tutorial
  table
    td
      padding: 8px;
