<div class="image">
  <img ng-src="{{lesson.picture}}" alt="">
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <td>
          <ul class="likemenu" ng-hide="likeStatus">
            <li><button class="btn btn-default btn-sm" ng-click="like()"><span class="glyphicon glyphicon-thumbs-up"></span> Like</button></li>
            <li><button class="btn btn-default btn-sm" ng-click="dislike()"><span class="glyphicon glyphicon-thumbs-down"></span> Dislike</button></li>
          </ul>
          <span ng-show="likeStatus">You have {{likeStatus}}d</span> 
          <span>{{lesson.likesCount + 0}} <span class="glyphicon glyphicon-thumbs-up"></span> | {{lesson.dislikesCount + 0}} <span class="glyphicon glyphicon-thumbs-down"></span></span>
        </td>
        <td><strong>Type</strong> <span>{{lesson.type}}</span></td>
        <td><strong>Level</strong> <span>{{lesson.level}}</span></td>
        <td><strong>Points</strong> <span>{{lesson.quiz.points}}</span></td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div>
      {{lesson.description}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div style="text-align: right">
      <a href class="btn btn-primary" ng-href="{{lesson.bookLink}}">
        Go to article <span class="glyphicon glyphicon-new-window"></span>
      </a>
    </div>
  </div>
</div>