<div class="image">
  <img ng-src="{{lesson.picture}}" alt="">
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <td ng-hide="likeStatus">
          <ul class="likemenu">
            <li><button class="btn btn-default btn-sm" ng-click="like()"><span class="glyphicon glyphicon-thumbs-up"></span> Like</button></li>
            <li><button class="btn btn-default btn-sm" ng-click="dislike()"><span class="glyphicon glyphicon-thumbs-down"></span> Dislike</button></li>
          </ul>
        </td>
        <td ng-show="likeStatus">You have {{likeStatus}}d</td>
        <td>{{lesson.likesCount}} | {{lesson.dislikesCount}}</td>
        <td><strong>Type</strong></td>
        <td>{{lesson.type}}</td>
        <td><strong>Sværhedsgraden</strong></td>
        <td>{{lesson.level}}</td>
        <td><strong>Points</strong></td>
        <td>{{lesson.quiz.points}}</td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div>
      {{lesson.description}}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div style="text-align: right">
      <a href class="btn btn-primary" ng-href="{{lesson.bookLink}}">
        Go to article <span class="glyphicon glyphicon-new-window"></span>
      </a>
    </div>
  </div>
</div>