<div class="youtube-container">
	<style>.embed-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; max-width: 100%; height: auto; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
	<div class='embed-container'>
		<iframe ng-src='{{youtubeEmbedUrl}}' frameborder='0' allowfullscreen></iframe>
	</div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <td>
          <ul class="likemenu" ng-hide="likeStatus">
            <li><button class="btn btn-default btn-sm" ng-click="like()"><span class="glyphicon glyphicon-thumbs-up"></span> Like</button></li>
            <li><button class="btn btn-default btn-sm" ng-click="dislike()"><span class="glyphicon glyphicon-thumbs-down"></span> Dislike</button></li>
          </ul>
          <span ng-show="likeStatus">You have {{likeStatus}}d</span> 
          <span>{{lesson.likesCount + 0}} <span class="glyphicon glyphicon-thumbs-up"></span> | {{lesson.dislikesCount + 0}} <span class="glyphicon glyphicon-thumbs-down"></span></span>
        </td>
        <td><strong>Type</strong> <span>{{lesson.type}}</span></td>
        <td><strong>Level</strong> <span>{{lesson.level}}</span></td>
        <td><strong>Points</strong> <span>{{lesson.quiz.points}}</span></td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div>
      {{lesson.description}}
    </div>
  </div>
</div>